body {
    background: #ffbcd9;
    margin: 0;
    border: 10px solid #ff70ae;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#title {
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: #123456;
}

#towerBox {
    width: 400px;
    height: 250px;
    background: #bcffc1;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.75);
    position: relative;
    display: flex;
    justify-content: center;
}

#towerBase {
    background: #BA8C63;
    width: 350px;
    height: 16px;
    bottom: 0px;
    position: absolute;
    bottom: 30px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 16px 1px rgba(0,0,0,0.6);
}

.tower {
    width: 15px;
    height: 150px;
    box-shadow: inset 0px 0px 16px 1px rgba(0,0,0,0.6);
    display: flex;
    position: relative;
    bottom: -5px;
    flex-direction: column;
    justify-content: flex-end;
}

li {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#towerList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 30px;
}

.ring {
    background: black;
    width: 95px;
    height: 15px;
    margin: 0 auto;
    position: absolute;
    border-radius: 5px;
    background: green;
    bottom: 46px;
}

#optionBox {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    padding-bottom: 25px;
    background: #64b5f6;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.options {
    margin: 0 20px;
    text-align: center;
    color: white;
}

#submitButton {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    background-color: #ff5252;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 16px 1px rgba(0,0,0,0.6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: wheat;
}

#submitButton:hover {
    background-color: #c50e29;
    cursor: pointer;
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.6);
}

button {
    border-radius: 5px;
    background-color: wheat;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

span {
    font-family: monospace;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}
